*.php diff=php

build/    export-ignore
tests/    export-ignore
vendor/   export-ignore
diagrams/ export-ignore
.git*     export-ignore
.env      export-ignore
*dist     export-ignore
*.yml     export-ignore
