<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.2/phpunit.xsd"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         convertErrorsToExceptions="false"
         bootstrap="Tests/bootstrap.php"
         stopOnFailure="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="Koded HTTP Library Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <!-- code coverage -->
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>Tests</directory>
                <directory>diagrams</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="memory_limit" value="-1"/>
        <env name="COMPOSER_MEMORY_LIMIT" value="-1"/>
        <ini name="xdebug.max_nesting_level" value="200"/>

        <server name="HTTP_HOST" value="example.com"/>
        <cookie name="test" value="fubar"/>
    </php>
</phpunit>